body{
    margin:0px;
    background-color: #ffffff;
}

header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    height:450px;
    align-items: center;
    justify-content: center;
}

.title-text{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: normal;
    color:#fff;
    max-width: 780px;
    text-align: center;
}
.ccet{
    color:black;
}
.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
  
.pic {
    background-image: url("../images/vrk.png");   
    background-position: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border: 1px solid white;
}
.pic-text {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 18px;
    color: rgb(51, 51, 51);
    text-align: center;
    line-height: 24px;
    padding-bottom: 60px;
}
.lastupdate{
    text-decoration: underline;
}
.item-number {
    position: absolute;
    left: 200px;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    font-weight: bold;
    color: rgba(90, 73, 73, 0.25);
}

.item-head {
    position: absolute;
    left : 10%;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.item-footer{
    position: absolute;
    left : 10%;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    font-weight: normal;
    color: rgb(51, 51, 51);
}
.item-text {
    position: absolute;
    left : 10%;
    right: 10%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51, 51, 51);
    margin:0px;
}
.item-photo{
    height : 500px;
    position: relative;
    left :35%;
}
.paragraph-break {
    height: 14rem;
}
.paragraph-break-inner{
    height: 14rem;
}
.paragraph-break-bigger {
    height: 17rem;
}